<%= bootstrap_form_for(@url) do |f| %>
  <%= f.url_field :original_url, placeholder: 'Type URL...', hide_label: true %>
  <%= f.text_field :slug, placeholder: 'Type your slug here or leave blank to get a random one...',
                          hide_label: true, required: false %>
  <%= f.primary 'Add' %>
<% end %>
