<div>
  <h2>
    <%= link_to @url.slug, url_path(@url.slug), data: { turbolinks: false } %> stats
  </h2>
</div>
<hr>
<div>
  <%= "URL added #{time_ago_in_words @url.created_at} ago" %>
</div>
<div>
  <%= "Visited #{pluralize @stats[:enters_count], 'time'}" %>
</div>
