<!DOCTYPE html>

  <head>
    <title>Url Shortener</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <div class="container">
        <div class="vertical-center-row">
          <div align="center">
            <%= yield %>
            <%= render 'layouts/flash_messages' %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
